@{
    ViewData["Title"] = "Account";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active">Account</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="ColManager" asp-controller="Collections">Collections</a>
    </li>
</ul>
<div>
    <div>
        <h2 class="h4 mt-3 mb-3">Account manager</h2>
        @* managment *@
    </div>
</div>

@section Scripts {
    <script>
        
    </script>
}