@model SignupViewModel
@{
    ViewData["Title"] = "Sign up";
}

<div class="conteiner">
    <div class="m-auto form-wrap">

        <form asp-action="Signup" asp-controller="Account" asp-anti-forgery="true">
            <h2 class="text-center">Sign Up</h2>

            <div>
                <div class="form-group">
                    <label asp-for="Email">Enter Email</label>
                    <input class="form-control" type="text" asp-for="Email" />
                </div>
                <div class="form-group">
                    <label asp-for="Password">Enter Password</label>
                    <input class="form-control" asp-for="Password" />
                </div>
                <div class="form-group">
                    <label asp-for="PasswordConfirm">Repeat Password</label>
                    <input class="form-control" asp-for="PasswordConfirm" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Sign up" class="signin btn btn-dark" />
                </div>
                <div class="signup-wrap">
                    <span>Already have account?</span>
                    <a class="btn btn-link" asp-action="Signin" asp-controller="Account"> Sign in </a>
                </div>
            </div>
            <div class="validation" asp-validation-summary="ModelOnly"></div>

        </form>
    </div>
</div>